/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
h2 {
    color: rgb(22, 20, 20); 
    margin-bottom: 20px;
  }

 
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); 
}

body {
    background: linear-gradient(to bottom, #3498db, #e74c3c); /* Cambia los colores según tus preferencias */
    margin: 0; /* Elimina los márgenes predeterminados del body */
    padding: 0; /* Elimina los espacios de relleno predeterminados del body */
    font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
    color: white; /* Cambia el color del texto para que sea legible en el fondo */
  }